/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// Colores generados en https://ionicframework.com/docs/theming/color-generator
:root {

    /*    
	--ion-color-primary: #3c4d5f;
	--ion-color-primary-rgb: 60,77,95;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #354454;
	--ion-color-primary-tint: #505f6f;

	--ion-color-secondary: #3c4d5f;
	--ion-color-secondary-rgb: 60,77,95;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #354454;
	--ion-color-secondary-tint: #505f6f;

	--ion-color-tertiary: #00aae4;
	--ion-color-tertiary-rgb: 0,170,228;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #0096c9;
	--ion-color-tertiary-tint: #1ab3e7;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
    */
    /* 
    --ion-background-color: #284706;//#3c4d5f;
    //--ion-background-color-rgb	Background color of the entire app, rgb format
    --ion-text-color: #ffffff;
    //--ion-text-color-rgb	Text color of the entire app, rgb format
    //--ion-backdrop-color: #ffffff;
    //--ion-backdrop-opacity: 0.9;
    //--ion-overlay-background-color: #ffffff;
    //--ion-border-color: #41621e;
    //--ion-box-shadow-color: #ffffff;
    --ion-tab-bar-background: #284706;//#284706;
    --ion-tab-bar-background-focused: #ffffff;
    --ion-tab-bar-border-color: #4a6f22;
    --ion-tab-bar-color: #aaaaaa;
    --ion-tab-bar-color-selected: #ffffff;
    --ion-toolbar-background: #284706;
    --ion-toolbar-border-color: #4a6f22;
    --ion-toolbar-color: #ffffff;
    
    //--ion-toolbar-segment-color: #ffffff;
    //--ion-toolbar-segment-color-checked: #ffffff;
    //--ion-toolbar-segment-background: #ffffff;
    //--ion-toolbar-segment-background-checked: #ffffff;
    //--ion-toolbar-segment-indicator-color: #ffffff;
    //--ion-item-background: #ffffff;
    --ion-item-border-color: #41621e;
    --ion-item-color: #ffffff;
    --ion-placeholder-color: #aaaaaa;
    ion-card-title {
        color: white;
    }
    ion-card-subtitle {
        color: white;
    }
    ion-icon {
        color: white;
    }
    ion-alert.select-alert {
        //--background: black!important;
        button {
            color: white !important;
        }
        .sc-ion-alert-md {
            color: white;
        }
    }
    .alert-radio-label.sc-ion-alert-md {
        color: white !important;
    }
    .alert-radio-label.sc-ion-alert-ios {
        color: white !important;
    }
    */
    /*
    --ion-background-color	Background color of the entire app
    --ion-background-color-rgb	Background color of the entire app, rgb format
    --ion-text-color	Text color of the entire app
    --ion-text-color-rgb	Text color of the entire app, rgb format
    --ion-backdrop-color	Color of the Backdrop component
    --ion-backdrop-opacity	Opacity of the Backdrop component
    --ion-overlay-background-color	Background color of the overlays
    --ion-border-color	Border color
    --ion-box-shadow-color	Box shadow color
    --ion-tab-bar-background	Background of the Tab Bar
    --ion-tab-bar-background-focused	Background of the focused Tab Bar
    --ion-tab-bar-border-color	Border color of the Tab Bar
    --ion-tab-bar-color	Color of the Tab Bar
    --ion-tab-bar-color-selected	Color of the selected Tab Button
    --ion-toolbar-background	Background of the Toolbar
    --ion-toolbar-border-color	Border color of the Toolbar
    --ion-toolbar-color	Color of the components in the Toolbar
    --ion-toolbar-segment-color	Color of the Segment Buttons in the Toolbar
    --ion-toolbar-segment-color-checked	Color of the checked Segment Buttons in the Toolbar
    --ion-toolbar-segment-background	Background of the Segment Buttons in the Toolbar
    --ion-toolbar-segment-background-checked	Background of the Segment Buttons in the Toolbar
    --ion-toolbar-segment-indicator-color	Color of the Segment Button indicator in the Toolbar
    --ion-item-background	Background of the Item
    --ion-item-border-color	Border color of the Item
    --ion-item-color	Color of the components in the Item
    --ion-placeholder-color	Color of the placeholder in Inputs
    */  
}

/* Textos largos en los ion-select-options */
.alert-radio-label.sc-ion-alert-md {
    white-space: pre-line !important;
    font-size: 15px;
}
.alert-radio-label.sc-ion-alert-ios {
    white-space: pre-line !important;
    font-size: 15px;
}

.lg-modal-class {
    .modal-wrapper {
        height: 100%;
        width: 100%;
    }
}