<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Captura
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" [ngClass]="{'custom-ion-content': isToBack}">

  <ion-img class="show-picture" *ngIf="picture" [src]="picture"></ion-img>

  <!-- fab placed to the top start -->
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button size="small" (click)="setEffect()">
      <ion-icon name="contrast"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="switchCamera()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button *ngIf="picture" size="small" (click)="clearPicture()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takeSnapShot()">
      <ion-icon name="aperture"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the bottom and center and on the bottom  -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button size="large" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button (click)="openCamera()">
    opencamera
  </ion-button>

</ion-content>

