<ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="operaciones">
        <ion-icon name="locate"></ion-icon>
        <ion-label>Operaciones</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="monitor">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Monitor</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="usuarios">
        <ion-icon name="people"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="organismos">
        <ion-icon name="business"></ion-icon>
        <ion-label>Organismos</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  
  </ion-tabs>