<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Cambiar contraseña
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar('')">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input
        placeholder="Contraseña actual"
        type="password"
        [(ngModel)]="oldPassword"
        [ngModelOptions]="{standalone: true}"
        #perfilOldPassword>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input
        placeholder="Nueva contraseña"
        type="password"
        [(ngModel)]="newPassword"
        [ngModelOptions]="{standalone: true}"
        #perfilNewPassword>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repetir nueva contraseña</ion-label>
      <ion-input
        placeholder="Repetir nueva contraseña"
        type="password"
        [(ngModel)]="repeatPassword"
        [ngModelOptions]="{standalone: true}"
        #perfilRepeatPassword>
      </ion-input>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-button (click)="cambiarPassword()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
